/* Général */
html {
    scroll-behavior: smooth;
    font-family: 'Koulen', sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: calc(15% + 1.1vw);
}
/*  */










/* Header */

header{
    background-color: #5ead50;
    display:flex;
    flex-direction: column;
}


header>div{
    margin-top:6vh;
    position:relative;
    background-color: #68C059;
	overflow: hidden;
}

header>div img{
    width:100%;
    height: 100%;
}

header>div h1{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-80%);
    color:white;
    font-size:calc(12% + 6vw);
    font-weight:100;
}

/*  */




/* Navigation */

nav{
    padding-top: 1%;
    padding-bottom:0.75%;
    background-color: #5ead50;
    width: 100%;
	height: 60px;
    display : flex;
    justify-content: left;
    position:fixed;
    z-index: 1;
    color : black;
}

nav img{
    margin-left:10px;
	width: 110px;
	height: 55px;
}

nav ul{
    width: calc(100vw - 175px);
    margin : 0px;
    display: flex;
    justify-content: space-evenly;
}


nav li{
    list-style:none;
    background-color: #5ead50;
    font-size: 25px;
    cursor: pointer;
    border-radius: 9px;
    padding-top:5px;
}

a{
    position: relative;
    text-decoration:none;
    color:black;
}

a:active{
    color: #2e6325;
}

a:hover{
    transition-duration: 0.3s ;
}

a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; 
    background-color: #2e6325; 
    transition: width 0.3s ease;
}

a:hover::before {
    width: 100%;
    left: 0; 
}

.page_courante{
    color:#2e6325;
    pointer-events: none;
}
.page_courante:hover{
    background-color:#ffffff00;
    padding:0px
}

.logo_burger{
    display: none;
}
/*  */







/* Contenu pages*/

.content{
    background-color: #68C059;
    margin-bottom: 4%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 1%;
    color:black;
    display :flex;
}


/*  Contenu Transports_Doux */
#center_transport_grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px ;
    grid-row-gap: 20px;
    margin: 5% 0%;
}

#center_transport_grid h2{
    grid-column: 1/4;
}

#center_transport_grid span:nth-child(2){
    grid-column : 1/2;
    margin-bottom:5%;
    margin-right: 5%;
}

#center_transport_grid span:nth-child(3){
    grid-column: 2/3;
    margin-bottom:5%;
    margin-left: 5%;
}

#center_transport_grid span:nth-child(4){
    grid-column: 1/5;
}


#main_transport_flex{
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
}

#formulaire{
    display: flex;
    flex-direction: column;
}

#formulaire span:nth-child(1){
    text-align: center;
}

form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 15px;
}

input, select{
    display: inline;
    border-width: 1.5px;
    border-color: #000000;
    font-size: 1em;
}

label{
    width: 50%;
    display: inline;
    text-align: center;
}

form>label{
    text-align:left;
}

input:nth-of-type(2){
    margin-top: 2%;
    margin-bottom: 2%;
}

#legende_form{
    margin-top: 3%;
}

label:not([for = "prenom"]):after, #legende_form:before{
    content: "*";
    color: red;
}

#form_sec_1, #form_sec_2{
    display: flex;
    flex-direction: column;
}
#form_sec_1 div, #form_sec_2 div{
    display : flex;
    flex-direction: row;
    margin: 50px;
}

[type = "text"]:not(#question), select, option{
    width: 50%;
}

[type = "text"]:focus, select{
    background: #68C059;
}


[type = "submit"], #question{
    grid-column: 1/3;
}

[type = "submit"]{
    background:#68C059;
    border-style: none;
    border: solid 1.5px;
    cursor: pointer;
    padding: 1% 0px;
}

[type = "submit"]:hover{
    transition-duration: 0.4s;
    background-color:#169E00;
}

#question{
    height: 10vh;
}


option{
    background: white;
    border: solid 1.5px;
}

/*  */








/*  Contenu Accueil */

.bannière_accueil>img{
    width:calc(110px + 42.67vw);
    height: calc(20px + 33.33vh);
    padding:5%;
    border-radius: 300px;
    padding-left: 5%;
    padding-right: 5%;
}

.bannière_accueil div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}
.bannière_accueil div img{
    width:calc(10% + 1.1vw);
}

/*  */


/*  Contenu Abonnements    */

#tarif_tcl{
    display: flex;
}

#tableau{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 4%;
    text-align: center;
}
table{
    width: 100%;
}

th,td{
    text-align: center;
}

th{
    background-color:#529646;
    border: solid 2px;
    width: 20%;
}

td{
    background-color:#ffffff;
}

#text_tarif_tcl{
    display: flex;
    flex:1;
    margin-left:4%;
    margin-top: 4%;
}
#text_tarif_tcl img{
    height: fit-content;
    align-self: flex-end;
    margin-left:20px ;
    width:calc(10% + 1.1vw);
}

#tarif_oura{
    display: flex;
    flex-direction: column;
}

#tarif_oura>p{
    text-align: center;
}

#tarif_oura_contenu{
    display: flex;
    flex-direction: row;
}

#tarif_oura_contenu img{
    display:none;
    width: 20%;
}

#tarif_oura_text_explicatif{
    flex:1;
    margin-right: 4%;
}

#tarif_oura_text_explicatif img{
    display: block;
    height: fit-content;
    width: 100%;

}

#tarif_oura_options{
    display: flex;
    flex-direction: column;
    flex:2;
    margin-left:4%;
}

#tarif_oura_options p{
    text-decoration: underline;
}

#tarif_oura_2_premieres_options{
    display: flex;
    gap:2%;
}
    
#tarif_oura_contenu img{
        width: 20%;
    }

/*  */

/*  */







/*  Footer    */

footer > div:first-child{
    background-color: #68C059;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.confidentialite{
    background-color: #169E00;
    display: flex;
    padding-top:2px;
    padding-bottom:2px;
}

.confidentialite div{
	display: flex;
	justify-content: space-around;
	flex:2;
}

.confidentialite a{
    background-color: #169E00;
    color: black;
}

.confidentialite a:hover{
    padding:0px;
    transform:scale(1.05);
}

.confidentialite a::before{
    background-color: #ffffff00; 
}


a img{
    width:calc(60% + 1.1vw);
    height:calc(60% + 1.1vw);
}


.logos{
	display: flex;
	gap:3em;
    margin-bottom: 16px;
}

.logos div{
	display: flex;
	gap:3em;
}

.logos a{
	width: calc(30px + 1.1vw);
    height:calc(20px + 1.1vw);
    padding: 20px;
    margin-right: 3%;
    margin-left:3%;
    text-decoration: none;
	display:flex;
	justify-content: center;
}



footer > div:first-child div{
    display: flex;
    justify-content: center;
}

footer > div:first-child>div p{
    margin-left: 1%;
    margin-right:1%;
}


footer{
    display:flex;
    flex-direction:column;
    color:black;
    font-size: calc(1px + 1.1vw);
}

.trait_contact_mobile{
	display: none;
}

/*  */










@media (max-width:1180px){
	header>div img{
		object-fit:none;
		object-position: center;
        width: 100%;
	}
	.bannière_accueil{
		flex-direction: column;
    }
    .bannière_accueil img{
        width:calc(18px + 65vw);
		height:100%;
    }
	.bannière_accueil div img{
		width:7.5%;
	}

	.bannière_accueil div{
		order:0;
	}
	.bannière_accueil img{
		order:1;
	}
    #tarif_oura_text_explicatif img{
        width: 40%;
        height: fit-content;
    }
	#logo_tcl{
		width:calc(10% + 1.1vw);
	}
	#logo_oura{
		width:calc(15% + 1.1vw);
	}
    .bannière_accueil,footer{
        font-size:1.9vw;
	}
}


@media (max-width: 875px) {
    body{
        font-size:calc(60% + 1.1vw);
        background-image:url("images/fond.png");
    }

    #icons_accueil,
    #icons_abo,
    #icons_td{
        display:block;
        font-size:  33px;
    }

    #icons_accueil:before,
    #icons_abo:before,
    #icons_td:before{
        content:"\2630";
        margin-right: 10px;
        cursor:pointer;
    }

    .active #icons_accueil:before,
    .active #icons_abo:before,
    .active #icons_td:before{
        content:"\2715";
        margin-right: 10px;
        cursor:pointer;
    }

    nav{
        justify-content: space-between;
    }

    nav ul {
        position : fixed;
        top:6%;
        left:-1000%;
        flex-direction:column;
        background-color: #5ead505e;
        backdrop-filter: blur(10px);
        text-align:center;
        transition: 0.25s;
        padding: 0;
    } 

    nav li {
        font-size:x-large;
        width: 100%;
        height: 100%;
        margin: 13.56vh 0px;
        background-color:#ffffff00;
    }

    nav.active ul{
		position:absolute;
        left:0%;
        top:61px;
        width: 100%;
	}

    nav a:hover{
        background-color:#ffffff00;
    }

    nav a:active{
        color:white;
    }




    #tarif_tcl{
        flex-direction: column;
    }


    #tarif_oura_contenu{
        flex-direction: column;
    }

    #tarif_oura_contenu img{
        display:flex;
        width: 20%;
        align-self: flex-end;
    }


    #tarif_oura_2_premieres_options{
        flex-direction: column;
    }

    #tarif_oura_text_explicatif img{
        display:none;
    }



    form{
        display: flex;
        flex-direction: column;
    }

    #form_sec_1 div,#form_sec_2 div{
        padding-left: 0px;
        padding-right: 0px;
    }

	.trait_contact_mobile{
		display: block;
	}
	.trait_contact_pc{
		display: none;
	}
	.logos{
		flex-direction: column;
		gap: 3em;
	}
	.logos img,.logos a{
		width: 6vw;
		height: 6vw;
	}
	.logos div{
		gap: 5em;
	}
	.confidentialite{
		flex-direction: column;
		justify-content: center;
	}
	.confidentialite div{
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
	}
	.confidentialite p{
		display: flex;
		justify-content: center;
	}
	.confidentialite :first-child{
		flex-direction: row;
	}
    .bannière_accueil,footer{
        font-size:calc(60% + 1.1vw);
	}
}
